<div class="index-cocktails">
    <%= render 'shared/banner' %>
  <div class="index-cocktails-container">
    <h2><% @cocktails.each do |cocktail| %></h2>
    <%= link_to cocktail_path(cocktail) do %>
      <div class="cocktail-card">
        <h2><%= cocktail.name %></h2>
      </div>
    <%end%>
    <%end%>
  </div>
</div>
